<%- include('layouts/header.ejs') %>
<form action="/resetPassword" method="POST">
    <h3>Reset Password</h2>
    <input required type="email" class="text" id="email" name="email">
  
    <button type="submit" > Send </button>
    <% if(typeof message !== 'undefined'){   %>
        <p style="color:red;"><%= message %></p>
    <%}%> 
    <a href="/login">Login</a> 
</form>
<%- include('layouts/footer.ejs') %>